.title {
  text-align: center;
  color: white;
}

.board {
  width: 500px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

@media (max-width: 540px) {
  .board {
    width: 100%;
  }
}
