.board {
  width: 500px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  .title {
    text-align: center;
    color: white;
    margin-top: 1rem;
  }
}

@media (max-width: 540px) {
  .board {
    width: 100%;
  }
}

.correct {
  background-color: green !important;
}

.nearly {
  background-color: rgb(147, 147, 14) !important;
}

.wrong {
  background-color: rgb(70, 70, 70) !important;
}
