.highlight-card {
  border: 1px solid white;

  .highlight-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  .highlight-content {
    padding: 10px;

    .highlight-title {
      margin: 0px;
    }

    .highlight-stack {
      > .highlight-tech {
        border: 1px solid white;
        width: fit-content;
        padding: 5px;
      }
    }
  }
}
