.mini-projects {
  .header-thingy {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    h2 {
      text-align: center;
    }
  }

  .showcase {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .view-more {
    margin-top: 2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  margin-bottom: 2rem !important;
}
