.mini-projects {
  .header-thingy {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    h2 {
      text-align: center;
    }

    .random-svg {
      display: flex;
      svg {
        fill: var(--font-color);
        cursor: pointer;
      }
    }
  }

  .showcase {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
  }

  @media (max-width: 610px) {
    .showcase {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .view-more {
    margin-top: 2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  margin-bottom: 2rem !important;
}
