.cool_thing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;

  .content {
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    color: var(--font-color);
    padding: 3rem 3rem;
    position: relative;
    display: grid;
    align-content: center;
    aspect-ratio: 9 / 4;
    width: 450px;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: var(--border-radius);
    box-sizing: border-box;

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      inset: 0;
      border: 3px solid var(--theme-color);
      transform: translateZ(2rem);
      border-radius: var(--border-radius);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      inset: 0;
      background: rgba(229, 229, 229, 0.25);
      transform: translateZ(-2rem);
      border-radius: var(--border-radius);
    }

    &:hover {
      transform: rotateY(32deg) rotateX(32deg);
    }
  }

  .title {
    position: relative;
    z-index: 10;
    font-size: 2.5rem;
    transform: translateZ(4rem);
  }

  .bio {
    padding: 30px;
    border-bottom: 1px solid var(--theme-color);
    margin-bottom: 30px;
  }

  .icons {
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    .header-icon svg {
      fill: #666;
    }

    .header-icon.linkedin-icon:hover svg {
      fill: #0076b2;
    }

    .header-icon.github-icon:hover svg {
      fill: #fff;
    }
  }

  .read-more {
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid white;
    height: 50px;
    width: 20px;
    position: relative;
    margin-top: 50px;

    .read-more-mover {
      position: absolute;
      height: 10px;
      width: 10px;
      background-color: white;
      border-radius: 50%;
      top: 3px;
      left: 3px;
      animation: movey-down 2s ease infinite;
    }
  }

  .read-more-text {
    margin-top: 30px;
    font-size: 0.75rem;
  }

  @media (max-width: 500px) {
    .content {
      width: 300px;
      word-break: break-all;
      padding: 3rem 1rem;
    }

    .title {
      padding-top: 1rem;
      font-size: 2rem;
    }
  }
}

@keyframes movey-down {
  0% {
    top: 3px;
  }
  75% {
    top: 32px;
  }
  100% {
    top: 3px;
  }
}

// May bring this back later
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.funky {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
