.projects {
  color: var(--font-color);
  margin-top: 100px;

  .projects-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    h1 {
      color: var(--font-color);
      margin-bottom: 25px;
    }

    .projects-search {
      display: flex;
      flex-direction: row;
      gap: 15px;

      input {
        width: 30ch;
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--theme-color);
        color: var(--font-color);
        padding: 10px;

        &:focus-within {
          outline: 0px;
        }
      }

      button {
        background-color: transparent;
        border: 0px;
        cursor: pointer;
      }

      svg {
        width: 24px;
        height: 24px;
        fill: var(--font-color);
      }
    }
  }

  .clear-filters {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 0.5rem;

    button {
      background-color: var(--background-color);
      border: 1px solid transparent; //var(--theme-color);
      padding: 5px;
      color: var(--font-color);
      cursor: pointer;
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 35px 15px;
  }

  @media (min-width: 500px) {
    .projects-grid {
      margin: 0px 75px;
    }
  }
}
