.project-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-color);
  border-radius: var(--border-radius);
  max-width: 25ch;

  .image {
    height: 175px;
    background-size: cover;
    width: 100%;
    border-bottom: 1px solid var(--theme-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .text-content {
    padding: 10px;

    .title {
      font-weight: bold;
      font-size: large;
    }

    .summary {
      font-size: small;
    }
  }
}
