.cssgame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: wheat;
  justify-content: space-between;
  padding-top: 30px;
}

.cssgame-color_block {
  height: 200px;
  width: 200px;
}

.cssgame-color_block:hover {
  background-color: black;
}

.cssgame-options {
  padding: 2em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cssgame-option {
  background-color: var(--theme-color);
  border: 0;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .cssgame-container {
    padding-top: 100px;
  }
}
