.skills {
  text-align: center;

  .skill-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10px;

    button {
      background-color: var(--background-color);
      color: var(--font-color);
      border: transparent;
      cursor: pointer;

      i {
        font-size: xx-large;
      }
    }
  }

  margin-bottom: 2rem;
}
