.word_block {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.block {
  font-size: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid black;
  font-weight: bold;
  font-size: large;
  line-height: 25px;
  background-color: gray;
}

.correct {
  background-color: green;
  color: whitesmoke;
}

.nearly {
  background-color: rgb(197, 197, 54);
  color: whitesmoke;
}

.incorrect {
  background-color: darkslategray;
  color: whitesmoke;
}

.unknown {
  color: black;
}

.invalid_word > div {
  border: 1px solid red;
}
