.word_block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.block {
  font-size: 2rem;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 1px;
  border: 1px solid rgba(238, 238, 238, 0.5);
  line-height: 25px;
  background-color: transparent;
  align-items: center;
  color: whitesmoke;
}

.invalid_word > div {
  border: 1px solid red;
}

.correct_word > div {
  background-color: green !important;
}
