.project-card {
  position: relative;
  width: 390px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;

  .project-card_container {
    opacity: 0;
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 5%;
    transform: translateY(1rem);
    transition: all 0.3s ease 0s;
  }

  &:hover .project-card_container {
    display: block;
    transform: translateY(0rem);
    opacity: 1;
  }

  &:hover::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(0, 0, 0, 0.4)
    );
  }

  .project-card_image {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 390px;
    border-radius: 5px;
    z-index: -1;
    background-repeat: no-repeat;
  }

  .project-card_title {
    margin: 0px;
  }

  .project-card_tag-container {
    margin-top: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .project-card_tag {
      border-radius: 5px;
      background-color: #3a3a3a;
      width: fit-content;
      padding: 0px 5px;
    }
  }
}

@media (max-width: 700px) {
  .project-card .project-card_container {
    opacity: 1;
    transform: translateY(0rem);
  }
}
