.theme-modal {
  position: relative;
  background-color: var(--background-color);
  color: var(--font-color);
  border: 1px solid var(--theme-color);
  border-radius: var(--border-radius);
  padding: 2rem;

  .close {
    display: flex;
    justify-content: flex-end;
    margin: 0;

    > button {
      display: flex;
      height: 30px;
      width: 30px;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }
  }

  div {
    margin-bottom: 1rem;
  }

  .font {
    .font-options {
      display: flex;
      gap: 1rem;
    }
  }

  .theme {
    .theme-options {
      display: flex;
      gap: 1rem;
    }
  }

  .background {
    .background-options {
      display: flex;
      gap: 1rem;
    }
  }
}
